p {
    color: white;
    font-size: 50px;
    text-align: center;
}
#caixa1{
    background-color: red;
    height: 400px;
    border-color: blue;
    border-style: double;
}
#caixa2{
    background-color: green;
    height: 400px;
    padding: 35px;
    margin: 20px;
    border: red dashed 2px;
}
#caixa3{
    background-color: blue;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
}